<script src="public/vendor/admin-lte/dist/js/app.min.js"></script>

<header class="main-header" id="main-header-logo" ng-controller="navBarCtrl">
    <a href="/" class="logo">
        <!-- LOGO -->
        <b>AR</b>
        Banking
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" id="navbar-top" role="navigation">
        <!-- Navbar Right Menu -->
        <a  class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#/admin" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/img/profile.jpg" class="user-image" class="img-circle" alt="User Image"/>
                        <span class="hidden-xs">Admin</span>

                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>