<div>
    <h1 class="center-align">Treta de página 404</h1>
    <div class="card small center-align" style="width: 300px;text-align: center;margin-left: calc(50% - 150px);">
        <div class="card-image" style="text-align: center">
            <img  height="100%" class="activator" src="http://thecatapi.com/api/images/get?format=src&type=gif"><br>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Computers also make mistakes</span>
            <p><a href="#">Take Me Back </a></p>
        </div>
    </div>
</div>
