<div class="row center-page-align" >
    <div class="col s4 offset-s4">
        <div class="card">
            <div class="row" >
                <div class="offset-s2 input-field col s8">
                    <i class="mdi-action-account-circle prefix"></i>
                    <input id="icon_prefix" type="text" class="validate" ng-model="user.username">
                    <label for="icon_prefix">Username</label>
                </div>
            </div>
            <div class="row">
                <a ng-click="login();" class="waves-effect waves-light btn offset-s2 s8 col">Entrar</a>
            </div>
        </div>
    </div>
</div>