#navbar-top {
  background-color: #009788 !important;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
  border-left-color: #009788 !important;
}

.skin-blue .main-header .logo {
  background-color: #007266 !important;
}

.form-control:focus {
  border-color: #009788 !important;
  box-shadow: none;
}

.box.box-solid.box-primary {
  border: 1px solid #009788 !important;
}

.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #009788 !important;
}

.btn-primary {
  background-color: #009788 !important;
  border-color: #007266 !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border-top-color: #009788 !important;
}

.nav-stacked > li.active > a,
.nav-stacked > li.active > a:hover {
  border-top: 0;
  border-left-color: #009788 !important;
}

.nav-stacked > li.active > a,
.nav-stacked > li.active > a:hover {
  border-top: 0;
  border-left-color: #009788 !important;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #009788 !important;
}

.text-light-blue {
  color: #009788 !important;
}

body, .wrapper {
  background-color: #d2d6de !important;
}

.box.channelMenu {
  margin: 35px auto !important;
  max-width: 90%;
}

.wrapper.channelMenu{
  margin: 20px 0 0 228px;
  max-width: 90%;
  padding: 0 20px;
  max-width: 90%;
}

#login-background{
  background-color: #009788 !important;
  min-height: 100% !important;
}